.section {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.sectionHeader {
  margin-bottom: 15px;
}

.sectionTitle h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.sectionBody {
  background-color: #eaf4ff;
  text-align: center;
  border-radius: 30px;
  padding: 10px 20px;
}

.plaberOfTheMatch {
  padding: 10px 0;
}

.plaberTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.plaberBox {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.plaberInfo {
  text-align: center;
  display: flex;
  flex-direction: column; /* 배치를 세로로 변경 */
  align-items: center; /* 세로 중앙 정렬 */
}

.plaberName {
  font-size: 18px; /* 크기 확대 */
  font-weight: bold; /* 굵게 */
  color: #333;
  margin-bottom: 5px; /* 이름과 레벨 사이의 간격 */
}

.plaberLevel {
  font-size: 12px; /* 크기 축소 */
  font-weight: normal; /* 보통 굵기 */
  color: #666;
  margin-bottom: 15px;
}

.plaberDescription {
  font-size: 12px;
  color: #888;
  line-height: 1.5;
}
