.signup-completion-page {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}
/* 
h2 {
  margin: 0px;
  padding-top: 1rem;
} */

.complete-p {
  margin: 0.2rem;

  font-size: small;
}

.image-placeholder {
  background-color: #ffffff;
  width: 50%;
  height: auto;
  margin: 50px auto;
  border-radius: 20px;
}

.image-placeholder img {
  max-width: 70%;
  margin-top: 2rem;
  border-radius: 20px;
}

.main-content {
  display: inline-block;
}
