.feedback {
  margin: 20px 0;
  text-align: center;
  background-color: #fff;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.feedback-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.feedback-sections {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* margin-top: 10px; */
}

.positive-feedback,
.negative-feedback {
  width: 45%;
  text-align: left;
}

h4 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
