.list {
    margin: 20px 10px;
    padding: 0; 
    list-style: none;
}

.matchLists {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #868686b9;
}

.matchDate {
    font-size: 16px;
}

.matchClosed {
    background-color: #c4cdd4;
    border-radius: 5px;
    margin: 0 5px;
    padding: 3px;
    font-size: 13px;
    color: #fff;
}

.matchLocation {
    font-size: 17px;
}

/* gender 앞 동그라미 점 스타일 */
.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
}

.gender {
    font-size: 13px;
}

/* gender별 동그라미 점 색상 */
.femaleDot {
    background-color: red;
}

.maleDot {
    background-color: navy;
}

.level {
    font-size: 13px;
    border-radius: 5px;
    display: inline-block;
}

/* level 별 텍스트 색상 */
.allLevels {
    color: #000; /* 모든 레벨: 검정색 */
}

.amateur1 {
    color: #00b894; /* 아마추어1 이하: 초록색 */
}

.amateur2 {
    color: #553246; /* 아마추어2 이상: 보라색 */
}

/* 팀 리스트트 영역 */
.teamEmblems {
    display: flex; /* 가로로 나열 */
    gap: 20px; /* 팀 간 간격 */
    margin-top: 10px;
    /* align-items: center; */
}

.team {
    display: flex;
    align-items: center;
    /* text-align: center; */
}

.teamEmblem {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f1f1f1;
    object-fit: cover;
}

.teamName {
    font-size: 15px;
    margin: 5px;
    color: #555;
}