.calendar-modal {
  width: 105%;
  text-align: center;
}

.react-calendar {
  border: none;
  width: 100%;
  font-size: 10px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 0.5rem;
}

.react-calendar__navigation button {
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
}

.react-calendar__navigation button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.react-calendar__navigation__label {
  font-size: 18px;
  font-weight: bold;
}

.react-calendar__month-view__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  color: #666;
  font-size: 14px;
}

.react-calendar__tile {
  height: 40px;
  text-align: center;
  font-size: 14px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
}

.react-calendar__tile:disabled {
  background: #f9f9f9;
  color: #ddd;
}

/* 오늘 날짜 (기본 상태) */
.react-calendar__tile--now {
  background: #e6f7ff;
  border-radius: 50%;
  color: #007bff;
}

/* 선택된 날짜 (우선순위 높이기) */
.react-calendar__tile--active.tile-saturday {
  background: #007bff;
  color: #ffffff;
}

.react-calendar__tile--active.tile-sunday {
  background: #007bff;
  color: #ffffff;
}

.react-calendar__tile--active {
  background: #007bff;
  color: white;
  border-radius: 50%;
}

/* 토요일 스타일 (파란색) */
.tile-saturday {
  color: #007bff;
}

/* 일요일 스타일 (빨간색) */
.tile-sunday {
  color: #ff4d4f;
}
