/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* 개별 매치 항목 */
.matchItem {
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 완료 상태 아이콘 */
.statusCircle {
  min-width: 65px;;
  min-height: 65px;;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* 매치 정보 */
.matchInfo {
  flex-grow: 1;
}

.matchDate {
  font-size: 18px;
  color: #666;
  margin: 0;
}

.matchStadium {
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0 0 0;
}

/* 버튼 컨테이너 */
.matchButtons {
  display: flex;
  gap: 8px;
}

/* 버튼 스타일 */
.button {
  padding: 8px 12px;
  font-size: 15px;
  border: none;
  border-radius: 40px;
  background-color: #f1f3f5;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
  min-width: 80px;
}

.button:hover {
  background-color: #e0e4e7;
}

/* 비활성화된 버튼 */
.buttonDisabled {
  padding: 8px 12px;
  font-size: 15px;
  border: none;
  border-radius: 40px;
  background-color: #e0e0e0;
  color: #999;
  cursor: not-allowed;
  min-width: 80px;
}

/* 매치 없음 메시지 */
.noMatches {
  font-size: 18px;
  color: #999;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .matchButtons {
    flex-direction: row;
  }
  .matchItem {
    padding: 12px;
    gap: 6px;
  }

  .matchDate,
  .matchStadium {
    font-size: 16px;
  }

  .matchButtonsContainer {
    gap: 6px;
  }

}

/* 모바일에서는 버튼을 아래로 배치 */
  @media (max-width: 768px) {
    .matchItem {
      flex-wrap: wrap; /* 내용이 가득 차면 버튼이 아래로 이동 */
      align-items: flex-start; /* 왼쪽 정렬 */
    }
  
    .matchInfo {
      flex: 1; /* 내용이 차지할 공간 확보 */
    }
  
    .matchButtons {
      width: 100%; /* 버튼이 전체 너비를 차지 */
      justify-content: flex-start; /* 왼쪽 정렬 */
    }
  
    .button {
      flex: 1; /* 버튼 크기를 동일하게 */
      min-width: 100px; /* 최소 너비 유지 */
      text-align: center;
    }

    .matchItem {
      gap: 12px;
    }
  
    
    .matchDate,
    .matchStadium {
      font-size: 14px;
    }
  
  
    .cancelContent,
    .leftContainer {
      width: 100%;
    }
  
    .statusCircle_cancle,
    .statusCircle_upcoming {
      width: 50px;
      height: 50px;
    }
  
    .matchContent {
      gap: 12px;
    }
    .matchButton {
      height: 45px;
      font-size: 12px;
    }
}