.match-completed-page {
  padding: 20px;
}

.match-completed-page h2 {
  margin-bottom: 20px;
  color: #333;
}

/* 활동량 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content label {
  display: block;
  margin: 10px 0;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  margin-top: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.modal-buttons button {
  background-color: #1565c0;
  color: white;
  height: 40px;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.modal-buttons button:last-child {
  background-color: #d7d7d7;
}

.toggle-button {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  margin: 20px auto;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.toggle-button:hover {
  cursor: pointer;
}

/* 동그란 이미지 (아이콘) */
.status-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  object-fit: cover; /* 아이콘 이미지를 동그란 영역에 맞추기 */
}
