/* 공통 매치 아이템 */
.matchItem {
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* 취소한 매치, 취소된 매치 스타일 */
.cancelContent {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.statusCircle_cancle {
  min-width: 65px;
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #999;
  align-items: center;
  text-align: center;
}

.statusInfo {
  margin: 0;
  padding: 0;
}

.cancelledTitle {
  font-size: 18px;
  font-weight: 500;
  color: #ff4d4f;
  margin: 0;
}

.cancelReason {
  font-size: 15px;
  color: #ff4d4f;
  margin: 0;
}

/* 날짜 및 경기장 정보 스타일 */
.matchDate {
  font-size: 18px;
  color: #555;
  margin: 0;
}

.matchStadium {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin: 0;
}

/* 진행 예정 매치 정보 스타일 */
.leftContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.statusCircle_upcoming {
  min-width: 65px;
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #edf797;
  align-items: center;
  text-align: center;
}

.matchInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin: 0;
}

.matchContent {
  display: flex;
  justify-content: space-between;
}

.matchDetails {
  margin: 0;
  font-size: 15px;
}

/* 버튼 컨테이너 */
.matchButtonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

/* 개별 버튼 스타일 */
.matchButton {
  padding: 8px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
  background-color: #f8f9fa;
  color: #333;
  transition: background-color 0.2s;
}

.matchButton:hover {
  background-color: #e6e6e6;
}

/* 매치 없음 메시지 */
.noMatches {
  font-size: 18px;
  color: #999;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .matchItem {
    padding: 12px;
    gap: 6px;
  }

  .matchDate,
  .matchStadium {
    font-size: 16px;
  }

  .matchButtonsContainer {
    gap: 6px;
  }

  .matchButton {
    width: 90px;
    height: 45px;
    font-size: 13px;
  }
}

/* 모바일 (768px 이하) */
@media (max-width: 768px) {
  .matchItem {
    gap: 12px;
  }

  
  .matchDate,
  .matchStadium {
    font-size: 14px;
  }


  .cancelContent,
  .leftContainer {
    width: 100%;
  }

  .statusCircle_cancle,
  .statusCircle_upcoming {
    width: 50px;
    height: 50px;
  }

  .matchContent {
    gap: 12px;
  }
  .matchButton {
    height: 45px;
    font-size: 12px;
  }
}