.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.faq-list, 
.SearchBar-container {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
}

.SearchBar-container {
  margin-bottom: 0px;
}

.SearchBar-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
}

.faq-item {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.faq-content,
.faq-answer {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-left: 3px solid #28a745;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.faq-content {
  margin-top: 3px;
  border-radius: 5px;
}

.faq-answer {
  margin-top: 3px;
  background-color: #f9f9f9;
  border-left: 3px solid #007bff;
  border-radius: 5px;
}

.contact-button {
  margin: 30px auto;
  padding: 10px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  text-align: center;
}

.customer-center {
  text-align: center;
  margin-bottom: 20px;
}

.h2 {
  margin: 0px;
}

.title_h3 {
  text-align: center;
  margin-bottom: 10px;
}

.content_content {
  margin: 3px 0 3px 3px;
  text-align: left;
  color: black;
}
