/* styles-notice.css */

/* body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff;
} */

.main-text1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}

.main-text2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

/* SearchBar styles */
.notice-search-bar {
  margin: 20px 0;
}

.notice-SearchBar-input {
  display: flex;
  width: 99%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

/* CategoryTabs styles */
.notice-category-tabs {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin: 10px 0;
}

.notice-category-tabs div {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: pre-wrap;
}

.notice-category-tabs div.bold {
  font-weight: bold;
}

/* FAQList styles */
.notice-faq-list {
  width: 100%;
  height: 300px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.notice-faq-item {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notice-faq-item:hover {
  background-color: #f9f9f9;
}

.notice-faq-answer {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}

/* Utility styles */
.notice-text-bold {
  font-weight: bold;
}

.notice-text-small {
  font-size: 12px;
  color: #888;
}

/* Contact button */
.notice-contact-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  border-radius: 12px;
  color: white;
  border: none;
  padding: 13px 20px;
  cursor: pointer;
  margin-top: 10px;
}


@media (max-width: 1024px) {
  .main-text1, .main-text2 {
    width: 100%;
    font-size: 20px;
  }
  .notice-SearchBar-input {
    max-width: 100%;
    font-size: 14px;
  }
  .notice-category-tabs div {
    font-size: 15px;
    padding: 6px 12px;
  }
  .notice-faq-item{
    font-size: 15px;
  }
  .notice-faq-list {
    max-width: 100%;
  }

  .notice-contact-button {
    max-width: 100%;
    font-size: 15px;
    padding: 10px;
  }

}

@media (max-width: 768px) {
  .main-text1, .main-text2 {
    width: 100%;
    font-size: 20px;
  }

  .notice-SearchBar-input {
    max-width: 100%;
    font-size: 14px;
  }

  .notice-category-tabs {
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }

  .notice-category-tabs div {
    font-size: 14px;
    padding: 6px 12px;
  }

  .notice-faq-item{
    font-size: 14px;
  }

  .notice-faq-list {
    max-width: 100%;
  }

  .notice-contact-button {
    max-width: 100%;
    font-size: 14px;
    padding: 10px;
  }
  
}