.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    border-radius: 35px;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.closeButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modalBody {
    font-size: 16px;
    line-height: 1.5;
}
