.modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 20px;
    min-width: 300px;
}

.closeButton {
    cursor: pointer;
}
