.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.matchCard {
  padding: 16px 0;
  cursor: pointer;
}

.matchInfo {
  margin-bottom: 12px;
}

.matchDate {
  font-weight: 300;
  font-size: 19px;
}

.matchDetails {
  font-size: 17px;
  color: #777;
}

.teamList {
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 0;
}

.teamEmblem {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.teamName {
  font-size: 16px;
  font-weight: 100;
}

/* 완료 매치 데이터가 없을 경우 */
.noMatches {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 18px;
  color: #888;
  font-weight: 500;
  text-align: center;
}
