.list {
    margin: 0px;
    padding: 0; 
    list-style: none;
}

.matchLists {
    margin: 0;
    padding: 15px 0;
}

.list {
    border-bottom: 1px solid #eaeaea;
}

.listItem {
    user-select: none;
    pointer-events: auto;
}

.matchLists {
    pointer-events: none;
}

.matchLists span,
.matchLists div,
.matchLists img {
    pointer-events: none;
}

.listItem:hover {
    background-color: #f9f9f9;
}

.matchDate {
    font-weight: 300;
    font-size: 19px;
}

.matchClosed {
    background-color: #c4cdd4;
    border-radius: 5px;
    margin: 0 5px;
    padding: 3px;
    font-size: 13px;
    color: #fff;
}

.matchLocation {
    font-weight: 300;
    font-size: 19px;
}

/* gender 앞 동그라미 점 스타일 */
.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
}

.gender {
    font-size: 12px;
    color: #999;
}

/* gender별 동그라미 점 색상 */
.femaleDot {
    background-color: #ff4d37;
}

.maleDot {
    background-color: #1570ff;
}

.level {
    font-size: 12px;
    border-radius: 5px;
    display: inline-block;
}

/* 팀 리스트 영역 */
.teamList {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.team {
    display: flex;
    align-items: center;
    margin: 0;
}

.teamEmblem {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    background-color: #f1f1f1;
    object-fit: cover;
}

.teamName {
    font-size: 15px;
    margin: 5px;
    color: #555;
}