.container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.genderTabs {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.genderButton {
  color: #333;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 0;
}

.genderButton.active {
  font-weight: bold;
  color: black;
}

.rankings {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rankInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin: 0;
}

.teamInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.teamRank {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffcc00;
  margin-right: 8px;
}

.teamEmblem {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.teamName {
  font-size: 18px;
  color: #333;
}

.teamDetail {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.teamPoints {
  font-weight: 900;
}