.personal-settings-page {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 위쪽 정렬 */
  padding: 20px;
  background-color: #ffffff;
  height: 1000px;
  gap: 10px; /* 사이에 공간을 추가 */
}
