.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 10px;
  text-align: center;
}

.subTitle {
  font-size: 20px;
  font-weight: 500;
  color: #495057;
  margin-bottom: 15px;
  text-align: center;
}

.feedbackInstruction {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.feedbackInstruction h2 {
  font-size: 20px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 15px;
  text-align: center;
}

.feedbackInstruction p {
  font-size: 15px;
  color: #343a4094;
  text-align: center;
  margin-bottom: 50px;
}

.listContainer {
  width: 400px;
  margin: 0 auto;
}

.listContainer ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #495057;
  font-size: 16px;
  line-height: 1.6;
}

.listContainer li {
  margin-bottom: 10px;
}

.teamDisplayWrapper {
  margin: 30px 0;
}

.feedbackFormWrapper {
  margin-top: 30px;
}

.buttonWrapper {
  text-align: center;
  margin-top: 20px;
}