.stadiumContainer {
  padding: 20px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.dateContainer {
  margin-bottom: 20px;
  padding: 15px 0;
  border-top: 4px solid #ececec;
  position: relative; /* 상대 위치 지정 */
}

.dateWrapper {
  position: absolute; /* 날짜 텍스트를 보더라인 위에 표시 */
  top: -12px; /* 위치를 위로 올림 */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff; /* 배경색으로 텍스트 주변을 덮음 */
  padding: 0 10px;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}

.timeList {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.timeItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 4px;
  background-color: #e7f3ff;
  margin-bottom: 8px;
}

.timeItem:last-child {
  margin-bottom: 0;
}

.time {
  font-size: 14px;
  color: #333;
}

.price {
  font-size: 14px;
  color: #007bff;
}
.stadiumInfo {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
