/* 전체 푸터 스타일 */
.footer {
  background-color: #272727;
  color: #fff;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px 20px;
}

/* 푸터 전체 레이아웃 */
.footerWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1024px;
  margin: 0 auto;
  gap:120px; /* 250112*/
}

/* 좌측 네비게이션 섹션 */
.footerNav {
  font-size: 0.9rem; /*250112*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  /* margin-left: 100px; 250112 메뉴 오른쪽으로 밀기 */
  text-align: center; 
}

.footerNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.footerNav h3 {
  margin-bottom: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.footerNav li {
  margin-bottom: 8px;
}

.footerNav li a {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 0.85rem;
  line-height: 1.5;
}

.footerNav li a:hover {
  color: #ffffff;
}

/* 회사 섹션 중앙 정렬 */
.company {
  flex: 1;
  width: 100%;
  margin-top: 0;
}

.company h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: gold;
  margin-bottom: 15px;
  display: flex;
}

.company p,
.company span,
.company a1 {
  color: #d3d3d3;
  display: flex;
  font-size: 0.85rem; /*250112*/
  margin-bottom: 5px;
}

.company a {
  text-decoration: none;
  color: white;
}

.company a:hover {
  color: #ffffff;
}

.company .copyright {
  margin-top: 15px;
  font-size: 0.85rem;
  color: #a0a0a0;
}

/* 반응형 설정 */
@media (max-width: 1024px) {
  
  .footer {
    padding: 30px 15px;
    display: flex;
    justify-content: center;
  }

  .footerWrap {
    flex-direction: column;
    text-align: left;
    gap: 30px;
    align-items: center;
    width: 100%;
  }

  .footerNav {
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }

  .footerNav ul {
    flex: 1;
    padding-left: 20px;
  }

  .footerNav h3,
  .footerNav li {
    text-align: left;
  }

  .company {
    text-align: left;
    width: 100%;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .footerNav {
    flex-wrap: nowrap;
    justify-content: center; 
    width: 100%;
  }

  .footerNav ul {
    flex: 1;
    min-width: 100px;
    text-align: left;
  }

  .company {
    width: 100%;
  }

  .company h2 {
    font-size: 1.2rem;
  }

  .company p {
    font-size: 0.8rem;
  }
}