/* 오버레이: 모달 배경 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
/* 모달 컨테이너 */
.modal {
    background: #ffffff;
    border-radius: 12px;
    width: 450px;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
  }
  

/* 닫기 버튼 (X 버튼) */
.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: #888;
    background: none;
    border: none;
    cursor: pointer;
}

/* 로고, 팀 이름 감싼 div */
.header {
    display: flex;
    align-items: center;
    margin: 0;
}

/* 상단 팀 이름 */
.teamName {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #1a1a1a;
}

/* 상단 팀 로고 */
.logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

/* 제목 및 설명 텍스트 */
.title {
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0 8px;
}

.subtitle {
    font-size: 12px;
    color: #666;
    margin-bottom: 24px;
}

/* 선택 그룹 (나이대/성별) */
.selectionGroup {
    margin-bottom: 24px;
}

.selectionGroup label {
    font-size: 11px;
    margin-bottom: 4px;
    display: block;
    color: #666;
}

/* 버튼 컨테이너 */
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.selectionButton {
    border: 1px solid #ddd;
    padding: 12px 17px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
}

.selectionButton.selected {
    color: #007bff;
    border-color:  #007bff;
  }

/* 푸터 (뒤로/등록 버튼) */
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.backButton {
    flex: 1;
    padding: 12px 0;
    margin-right: 8px;
    background-color: #e0f2ff;
    color: #007bff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.registerButton {
    flex: 1;
    padding: 12px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
  